body {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

/*banner*/

.topo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    color: #fff;
    margin: 0px;
    padding: 20px;
    padding-top: 0px;
    /*margin-right: 200px;*/

}

/*logo*/

.titulo {
    letter-spacing: 0.3cap;
    color: rgb(202, 18, 18);
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
}

.logo {
    background-color: #fff;
    padding: 3px;
    width: 175px;
    height: 49px;
    border-radius: 10px;
    margin-top: 15px;
}

.cris {
    margin-top: 15px;
    font-weight: bold;
    font-size: 54px;
    color: #212121;
}


.bt {
    width: 600px;
    height: 30px;
    letter-spacing: 0.2cap;
    font-size: 14px;
    border-radius: 5px;
    border-color: #ccc;
}

/*acessórios*/

.bold {
    font-weight: bold;
}

.coluna {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
}

.linha {
    display: flex;
    /*align-items: center;*/
    flex-direction: row;
}

/*cards*/

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.bloco {
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.entrada {
    width: 150px;
    height: 90px;
}

.entrada input {
    width: 146px;
    height: 88px;
    background-color: #fff;
    border: none;
    font-size: 52px;
    text-align: center;
    color: #212121; 
}


.resumo {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;

}


.resumo_bold {
    font-size: 18px;
    /*color: burlywood;*/
    color: #FFEB3B;
    font-weight: bold;
}

/*novas diretrizes*/

.moldura {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.largura_600 {
    width: 600px;
}

.largura_200 {
    width: 200px;
}

.inferior_60 {
    margin-bottom: 8px;
}

.fonte_grande {
    font-size: 52px;
}

.bg {
    background-color: #dbd9d9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg_white {
    background-color: #fff;
}

.legenda_top {
    background-color: #212121;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 600px;
    height: 20px;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
}

.legenda {
    text-align: center;
    padding-top: 10px;
    width: 150px;
    height: 30px;
    background-color: #a82626;
    color: #fff;
    font-size: 15px;
}

.monitor {
    background-color: #212121;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 600px;
}

.espaco_entre {
    justify-content: space-between;
}